@charset "utf-8";
@import "setting";
@import "mixin";

html {
  font-size: vw(10);
}

#wrapper {
  padding: 30vh rem(20);
}
#container {
  max-width: 750px;
  margin: 0 auto;
}

.scroll-contents {
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include sp() {
    margin-right: rem(-20);
  }
}

.knob {
  position: relative;
  border-radius: 6px;
  background-color: #eaeaea;
  margin-top: 15px;
  height: 12px;
  overflow: hidden;
  > span {
    border-radius: 6px;
    background-color: #ccc;
    cursor: grab;
    position: absolute;
    top: 0;
    bottom: 0;
    touch-action: pan-y;
  }
}

body.is-move {
  * {
    user-select: none !important;
    cursor: grabbing !important;
  }
}